.bestGoodsContainer {
    padding: 1.25rem; /* 20px */
}

.titleRow {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem; /* 20px */
    flex-wrap: wrap;
    gap: 1.25rem; /* 20px */
}

.pageTitle {
    font-size: 2rem;
    color: #000;
    margin: 0;
}

.categoryToggle {
    padding: 0.25rem 0.5rem; /* 4px 8px */
    font-size: 0.9rem;
    cursor: pointer;
    border: 0.0625rem solid #ccc; /* 1px */
    background-color: #fff;
    border-radius: 0.3125rem; /* 5px */
    z-index: 2;
    height: 1.75rem; /* 28px */
}

.sidePanel {
    display: flex;
    flex-direction: row; /* 슬라이드 방향을 가로로 설정 */
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, transform 0.4s ease-out;
    max-height: 0;
    opacity: 0;
    transform: translateX(-50%); /* 기본 위치를 왼쪽으로 설정 */
    white-space: nowrap;
}

.sidePanel.open {
    max-height: 200px;
    opacity: 1;
    transform: translateX(0); /* 열릴 때 왼쪽에서 오른쪽으로 이동 */
}

.checkboxItem {
    opacity: 0;
    transform: translateX(-1.25rem); /* 왼쪽에서 오른쪽으로 슬라이드 */
    transition: opacity 0.4s ease, transform 0.4s ease;
    margin-right: 0.625rem; /* 10px */
    margin-bottom: 0.625rem; /* 10px */
}

.checkboxItem.visible {
    opacity: 1;
    transform: translateX(0); /* 카테고리가 나타날 때 원래 위치로 */
}

.productList {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;
    max-width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.productItem {
    width: 100%;
    aspect-ratio: 1 / 1; /* 정사각형 유지 */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.productItem:hover {
    transform: translateY(-0.4375rem); /* -7px */
}

.productDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.125rem; /* 2px */
    margin-top: -0.3125rem; /* -5px */
    text-align: left;
    position: relative;
    bottom: -0.625rem; /* -10px */
}

.productRating {
    font-size: 1rem;
    color: #f1a825;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.25rem; /* 4px */
}

.ratingNumber {
    font-size: 0.85rem;
    color: #555;
}

.productTitle {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.125rem; /* 2px */
}

.productPrice {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    margin-top: -2.1875rem; /* -35px */
    margin-bottom: 5rem; /* 80px */
}

.sortOptions {
    display: flex;
    gap: 1rem; /* 16px */
    font-size: 0.95rem;
    color: #555;
    white-space: nowrap;
    margin-left: auto;
    margin-right: 1.875rem; /* 30px */
}

.sortOption {
    cursor: pointer;
    font-weight: normal;
    transition: color 0.3s ease;
}

.sortOption:hover {
    color: #9e4b25;
}
